---
const { currency: defaultCurrency, price } = Astro.props;

export const formatNumber = new Intl.NumberFormat().format;

const cookieCurrency = undefined;
const currency = cookieCurrency || defaultCurrency || "JPY";

const ratios = {
  JPY: 1,
  EUR: 0.0054,
  USD: 0.0062,
};
const symbols = {
  JPY: "¥",
  EUR: "€",
  USD: "$",
};

const convertedPrice = Math.round(price * ratios[currency]);
---

<div class="price">{symbols[currency]}{formatNumber(convertedPrice)}</div>

<style>
  .price {
    font-size: 1.4rem;
    opacity: 0.5;
  }
</style>
