---
import { Image } from "astro:assets";
import {
  getAllSetImages,
  getBrandById,
  getBrandPath,
  getBrandPhoto,
} from "../../content";

const { id } = Astro.props;
const brand = await getBrandById(id);
if (!brand) return Astro.redirect("/404");
const { name, url } = brand.data;

const image = getBrandPhoto(brand);
---

<div class="brand-compact">
  {
    image && (
      <a href={getBrandPath(brand, Astro.currentLocale)}>
        <Image width={400} height={300} alt={name} src={image} />
      </a>
    )
  }
  <h3 class="brand-name"><a href={getBrandPath(brand)}>{name}</a></h3>
</div>

<style>
  .brand-compact {
    position: relative;
    border: 3px solid #333;
  }
  img {
  }
  .brand-name {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    padding: var(--halfSpacing);
    &,
    & a {
      color: white;
    }
  }
</style>
