---
import T from "../T.astro";

const { brand } = Astro.props;
const { tags } = brand.data;
---

<div class="brand-tags">
  {
    tags.map((tag) => (
      <span>
        <T k={`tags.${tag}`} />
      </span>
    ))
  }
</div>

<style>
  .brand-tags {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      background: #ccc;
      padding: 3px 8px;
      border-radius: 3px;
    }
  }
</style>
