body {
  font-family:
    "IBM Plex Sans",
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  font-weight: 300;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  //   font-family: "Archivo Black", sans-serif;
  //   font-weight: 400;
  //   font-style: normal;

  //   font-family: "IBM Plex Sans", sans-serif;
  //   font-optical-sizing: auto;
  //   font-style: normal;
  //   font-variation-settings: "wdth" 100;

  font-weight: 400;
  //   font-style: normal;
  margin-top: 0;
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: none;

  &,
  &:link,
  &:visited {
    color: #0800de;
  }
  &:hover {
    color: #ff2600;
  }
}
