---

---

<div class="intro">
  <p>
    ReadySet is a directory of Japan-made climbing holds. <a href="/about"
      >Learn more</a
    >.
  </p>
  <p>
    Note that we do not currently sell holds directly, so please refer to each
    manufacturer's individual website for any order.
  </p>
</div>

<style>
  .intro {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
