---
import Intro from "../../mdx/Intro.mdx";
---

<div class="intro">
  <Intro />
</div>

<style>
  .intro {
    text-align: center;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
</style>
