---
import Intro from "../components/about/Intro.astro";
import Brand from "../components/brands/Brand.compact.astro";
import Brands from "../components/brands/Brands.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2>Showcasing the craft of Japanese climbing holds</h2>

  <Brands />
  <Intro />

  <!-- <div class="home-items">
    <div class="featured-brand">
      <h2>Featured Maker</h2><Brand id="mojo_holds" />
    </div>
    <div class="all-brands">
      <a href="/brands">View All Makers</a>
    </div>
  </div> -->
</Layout>

<style>
  .home-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
  h2 {
    text-align: center;
    margin-bottom: var(--spacing);
    font-size: 2rem;
  }
  .featured-brand {
  }
  .all-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 300px;
      background: #333;
      text-align: center;
      color: white;
      text-transform: uppercase;
      padding: var(--halfSpacing);
      font-size: 1.5rem;
    }
  }
</style>
