---

---

<footer>
  &copy; 2026 ReadySet | Made by <a href="https://www.instagram.com/sachagreif/"
    >Sacha Greif</a
  > | <a href="mailto:hello@rdyset.com">Contact</a>
</footer>

<style>
  footer {
    text-align: center;
  }
</style>
