---
import Currency from "./other/Currency.astro";
import LocaleSwitcher from "./other/LocaleSwitcher.astro";
import T from "./T.astro";
// const nav = ["about", "brands"];
const nav = ["about"];
const locale = Astro.currentLocale ?? "en";
---

<div class="header">
  <div class="header-left">
    <h1>
      <a href={`/${locale}`}
        ><img src="/images/readyset_1.svg" alt="ReadySet" /></a>
    </h1>
  </div>
  <nav class="header-right">
    <ul>
      {
        nav.map((item) => (
          <li>
            <a href={`/${locale}/${item}`}>
              <T k={item} />
            </a>
          </li>
        ))
      }
    </ul>
    <LocaleSwitcher />
    <!-- <Currency /> -->
  </nav>
</div>

<style>
  .header {
    background: white;
    padding: var(--halfSpacing);
    display: flex;
    justify-content: space-between;
  }
  .header-left {
    display: flex;
    gap: 5px;
    flex-direction: column;
    /* align-items: flex-end; */
  }
  .header-right {
    align-items: center;
    display: flex;
    gap: var(--halfSpacing);
  }
  h1 {
    width: 200px;
    img {
      display: block;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      gap: var(--halfSpacing);
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  }
</style>
