---
import { Image } from "astro:assets";
import { getSetById, getSetPath, getSetPhoto } from "../../content";

const { id } = Astro.props;
const set = await getSetById(id);
if (!set) return Astro.redirect("/404");
const { name, url, photos, brand } = set.data;
---

<div class="set">
  <h3 class="set-name"><a href={getSetPath(set)}>{name}</a></h3>
  <p><a href={url}>{url}</a></p>
  <div class="set-photos">
    {
      photos.map((photo) => (
        <Image alt="foo" width={400} src={getSetPhoto(set, photo)} />
      ))
    }
  </div>
</div>

<style>
  .set-name {
    font-size: 2.5rem;
  }
  .set-photos {
    display: flex;
    gap: var(--halfSpacing);
  }
</style>
